.text {
  width: 50%;
  border-right: solid 1px black;
  padding-right: 12px;
  height: 100vh;
  padding-top: 38px;
}

.images {
  padding-top: 70px - 38px;
  width: 50%;
}

.mainImage img{
  width: 100%;
}