$randomNumber: random(5);

.feed {
  width: 50vw;
  padding-left: 8vw;
  margin-top: 8%;
}

.feedIllustration {
  flex: 1;
  margin-top: 8%;
  justify-content: center;
  text-align: center;
}

.post {
  transition: all 0.3s ease;
}

.post img{
  max-width: 42vw;
  max-height: 30vh;
  transition: all 0.3s ease;  
}

.post:hover {
  transform: rotate($randomNumber - 5 + deg);
}

.post:hover img {
  opacity: 0.1;
}

.post:hover .hoverText{
  display: block;
}

.hoverText {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}


