.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 2;
}
/* .name,
.about {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
} */

a.name{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 54px;
  font-weight: 900;
  padding: 32px 0 32px 8vw;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

.name:hover,
a.about:hover{
  color:#555555
}

a.about{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: 300;
  padding: 32px 8vw 32px 0;
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease;
}

@media(max-width: 1600px){
  a.name {
    font-size: 32px;
  }

  a.about {
    font-size: 18px;
  }

  a.name,
  a.about {
    padding-bottom: 16px;
  }
}


@media(max-width: 1000px){
  a.name {
    font-size: 36px;
  }

  a.about {
    font-size: 18px
  }
}


@media(max-width: 1699px){
  a.about {
    padding-right: 16vw;
  }

  a.name{
    padding-left: 16vw;
  }
}

@media(min-width: 1900px){
  a.name {
    padding-left: 12vw;
  }
  a.about {
    padding-right: 12vw;
  }
}