$randomNumber: random(5);

.feed{
  width: 50vw;
  margin-top: 8%;
  padding-right: 8vw;
}

.webfeed {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.post {
  position: relative;
  transition: all 0.3s ease;
}

.post img {
  max-width: 42vw;
  opacity: 1;
  transition: all 0.3s ease;
}

.post:hover {
  transform: rotate($randomNumber - 5 + deg);
}

.post:hover img {
  opacity: 0.1;
}

.post:hover .hoverText{
  display: block;
}

.hoverText {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

@media(min-width: 1700px){
  .feed {
    margin-top: 6%;
  }
  .row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    height: 480px;
  }

  .post img {
    max-width: 20vw;
  }
}

@media(min-width: 1800px){
  .row {
    height: 500px;
  }
}

@media(min-width: 1900px){
  .feed {
    margin-top: 5%;
    padding-right: 12vw;
  }
  .row {
    height: 500px;
  }
  .post img{
    max-width: 18vw;
  }
}

@media(min-width: 2200px){
  .row {
    height: 550px;
  }
}