.text {
  width: 50%;
  border-right: solid 1px black;
  padding-right: 70px;
  height: 100vh;
}

.title{
  padding: 64px 0 0 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 900;
  font-size: 40px;
}

.content {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 18px;
}
.links {
  display: flex;
  flex-direction: column;
}

.link{
  padding-top: 6px;
}

.link a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: color 0.3s ease;
}

.link a:hover {
  color: #555555;
}

.image {
  max-width: 50%;
  padding-top: 100px;
}

@media(max-width: 900px){
  .body {

  }
}