.text {
  width: 50%;
  padding-right: 12px;
  height: 100vh;
  padding-top: 38px;
  border-right: solid 1px black;
}

.links {
  display: flex;
  flex-direction: column;
}

.link{
  padding-top: 6px;
}

.link a{
  text-decoration: none;
  color: black;
  font-weight: 700;
  transition: color 0.3s ease;
}

.link a:hover {
  color: #555555;
}

.images {
  max-width: 50%;
  padding-top: 70px - 38px;
  margin: 0 auto;
}
